<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Section for omnifood</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <p>Logo</p>
        <p>Navigation</p>
      </nav>
      <div class="hero-content container">
        <h1>A healthy meal delievered to your door, every single day</h1>
        <p>
          The smart 365-day supscription that will make you eat healthy algain.
          Tailored to your personal taste and nuturitional needs
        </p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>
    <main class="container">
      <h2>Some random Text</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil,
        reiciendis quas? Nisi ipsum nostrum neque ullam sunt ea, alias eius,
        beatae maiores excepturi illum quae repellendus assumenda ipsam
        perspiciatis quod, error nulla.
      </p>
    </main>
  </body>
</html>
