<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>Nav</nav>
    <menu>
      <button class="btn">New</button>
      <button class="btn">Reply</button>
      <button class="btn">Forward</button>
      <button class="btn">Mark as Read</button>
      <button class="btn btn-trash">Trash</button>
    </menu>
    <section>
      <button class="btn">email1</button>
      <button class="btn">email2</button>
      <button class="btn">email3</button>
      <button class="btn">email4</button>
      <button class="btn">email5</button>
      <button class="btn">email6</button>
      <button class="btn">email7</button>
      <button class="btn">email8</button>
      <button class="btn">email9</button>
      <button class="btn">email10</button>
    </section>

    <main>Email View</main>
    <aside>Additional-Info</aside>
  </body>
</html>
