<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="carousel">
      <img class="testimonial-image" src="maria.jpg" alt="Maria de Silva" />
      <blockquote class="testimonial-text">
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
        asperiores labore, dolores ratione qui voluptas ad quod esse iusto
        soluta, quas eaque earum vel ex. Blanditiis sint quas esse possimus."
        <div class="testimonial-details">
          <p class="testimonial-name">- Maria De Silva</p>
          <p class="testimonial-job">Senior Software Engineer</p>
        </div>
      </blockquote>

      <button class="btn btn-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
          />
        </svg>
      </button>
      <button class="btn btn-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
          />
        </svg>
      </button>
      <div class="carousel-btn-box">
        <button class="carousel-btn btn-fill">&nbsp;</button>
        <button class="carousel-btn">&nbsp;</button>
        <button class="carousel-btn">&nbsp;</button>
        <button class="carousel-btn">&nbsp;</button>
      </div>
    </div>
  </body>
</html>
