<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordian</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="accordian">
      <div class="item">
        <p class="item-number">01</p>
        <h3 class="item-title">Where are the chairs assembled?</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="item-details">
          <p class="item-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            incidunt iusto veritatis ullam error. Deserunt, obcaecati quaerat!
            Ipsum nemo quam quisquam incidunt fugit dolore deleniti accusamus
            atque, repudiandae labore accusantium maiores odio repellendus
            eveniet, necessitatibus quo id nam tempora earum doloremque
            adipisci? Earum perferendis nobis consectetur ipsum accusantium iste
            ipsam.
          </p>
          <ul class="item-detail">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto.
            </li>
          </ul>
        </div>
      </div>
      <div class="item open">
        <p class="item-number">02</p>
        <h3 class="item-title">How long do I have to return my chair?</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="item-details">
          <p class="item-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            incidunt iusto veritatis ullam error. Deserunt, obcaecati quaerat!
            Ipsum nemo quam quisquam incidunt fugit dolore deleniti accusamus
            atque, repudiandae labore accusantium maiores odio repellendus
            eveniet, necessitatibus quo id nam tempora earum doloremque
            adipisci? Earum perferendis nobis consectetur ipsum accusantium iste
            ipsam.
          </p>
          <ul class="item-detail">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="item-number">03</p>
        <h3 class="item-title">Do you ship the countries outside EU?</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="item-details">
          <p class="item-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            incidunt iusto veritatis ullam error. Deserunt, obcaecati quaerat!
            Ipsum nemo quam quisquam incidunt fugit dolore deleniti accusamus
            atque, repudiandae labore accusantium maiores odio repellendus
            eveniet, necessitatibus quo id nam tempora earum doloremque
            adipisci? Earum perferendis nobis consectetur ipsum accusantium iste
            ipsam.
          </p>
          <ul class="item-detail">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
